BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
LineEnding: LF
ColumnLimit: 120
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
MaxEmptyLinesToKeep: 1
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<kitzoo/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"'
    Priority: 3
ReflowComments: true
SeparateDefinitionBlocks: Always
